---
import Layout from '../layouts/Layout.astro';
export const prerender = true;
---

<Layout title="Maxance Gusse">
  <main
    class="dark:text-white bg-center text-black dark:bg-gradient-to-b bg-gradient-to-b from-light-100 dark:from-dark-900 dark:to-dark-700 to-light-400"
  >
  </main>
</Layout>

